<li>
  <div 
    class="listall" 
    data-id=<%= character.id %> 
    data-name="<%= character.name %>"
  >
    <%= character.name %> - <%=  character.description %>
  </div>
  <button class="btn" id="edit-game">Edit</button>
  <button class="btn" id="delete-game">Delete</button>
</li>